// COLORS
$color-primary:  #E6D5B8;
$color-primary-light: #2C3E50;
$color-primary-dark: #2B2B2B;

$color-gery-light-1:#f7f7f7;

$color-white: #fff;
$color-gery-dark: #777;
$color-black: #000;


// GRID

$grid-width: 10%;
$gutter-horizontal: 10%;
$gutter-horizontal: 10%;