// COLORS
$color-primary:  #70d432;
$color-primary-light: #2C3E50;
$color-primary-dark: #2B2B2B;

$color-gery-light-1:#f7f7f7;

$color-white: #fff;
$color-gery-dark: #777;
$color-black: #000;

//Font 
$default-font-size: 1.6rem;


// GRID

$grid-width: 65%;
$gutter-horizontal: 20%;
$gutter-horizontal: 20%;